<div class="card card-edit mb-5 bg-light">
  <div class="d-flex justify-content-center justify-content-md-start">
    <img src="../../../assets/img/barceona-unsplash.jpg" class="card-img-edit" alt="Barcelona">
    <h1 class="d-none d-md-block align-self-center mb-0">Barcelona</h1>
  </div>

  <div class="card-body">
    <p class="card-text">Barcelona is a city on the coast of northeastern Spain. It is the capital and largest city of the autonomous community of Catalonia, as well as the second most populous municipality of Spain. With a population of 1.6 million within city limits, its urban area extends to numerous neighbouring municipalities within the Province of Barcelona and is home to around 4.8 million people, making it the fifth most populous urban area in the European Union after Paris, the Ruhr area, Madrid, and Milan. It is one of the largest metropolises on the Mediterranean Sea, located on the coast between the mouths of the rivers Llobregat and Besòs, and bounded to the west by the Serra de Collserola mountain range, the tallest peak of which is 512 metres high.</p>
  </div>
</div>

<div class="card card-edit mb-5 bg-light">
  <div class="d-flex justify-content-center justify-content-md-start">
      <img src="../../../assets/img/cd2.jpg" class="card-img-edit" alt="London">
      <h1 class="d-none d-md-block align-self-center mb-0">London</h1>
  </div>
  <div class="card-body">
    <p class="card-text">London is the capital and largest city of England and the United Kingdom, with a population of just under 9 million. It stands on the River Thames in south-east England at the head of a 80 km estuary down to the North Sea, and has been a major settlement for two millennia. The City of London, its ancient core and financial centre, was founded by the Romans as Londinium and retains its medieval boundaries. The City of Westminster, to the west of the City of London, has for centuries hosted the national government and parliament. Since the 19th century, the name "London" has also referred to the metropolis around this core, historically split between the counties of Middlesex, Essex, Surrey, Kent, and Hertfordshire, which largely comprises Greater London, governed by the Greater London Authority .</p>
  </div>
</div>

<div class="card card-edit mb-5 bg-light">
  <div class="d-flex justify-content-center justify-content-md-start">
    <img src="../../../assets/img/cd1.jpg" class="card-img-edit"  alt="Paris">
    <h1 class="d-none d-md-block align-self-center mb-0">Paris</h1>
  </div>
  <div class="card-body">
    <p class="card-text">Paris is the capital and most populous city of France, with an estimated population of 2,165,423 residents in 2019 in an area of more than 105 km², making it the 30th most densely populated city in the world in 2020. Since the 17th century, Paris has been one of the world's major centres of finance, diplomacy, commerce, fashion, gastronomy, and science. For its leading role in the arts and sciences, as well as its very early system of street lighting, in the 19th century it became known as "the City of Light". Like London, prior to the Second World War, it was also sometimes called the capital of the world.</p>
  </div>
</div>
